title React Test | #{title}
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
link(rel="shortcut icon", type="image/x-icon", href="assets/img/react.png")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto|Roboto+Condensed")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
link(rel="stylesheet", href="styles/style.min.css")